/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary-color:    rgb(125,197,217);
$secondary-color:  rgb(125,197,217);
$text-color-light: rgb(255,255,255);
$text-color-dark:  rgb(0,0,0);