/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$title-font: 'geometr415_blk_btblack', Helvetica, Arial, sans-serif;
$text-font:  'HelveticaNeueLTStd-UltLt', Helvetica, Arial, sans-serif;
$sp-font:    'CenturyGothic', Helvetica, Arial, sans-serif;

$font-size-xl: 4.1rem;
$font-size-l:  3.1rem;
$font-size-m:  2.4rem;
$font-size-s:  2.0rem;
$font-size-xs: 1.5rem;
$font-size-xxs: 1.2rem;